@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@600&display=swap');

main{
    background-color: rgb(29, 54, 137);
    color: #fefefe;
}

.hero-heading {
 
  color: rgb(255, 211, 0)	;
}
.hero-content{
  opacity: 0;
  /* transform: translateY(50px); */
}
.hero-text-scroll{
  background-color: rgb(253, 253, 253);
  padding: 1rem ;
  border: 5px solid #FFD300;
  transform: skewY(-5deg);
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.hero-text-scroll h1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #E21B4D;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
.hero-button{
  background-color: #E21B4D;
  color: #fefefe;
  border-radius: 20px;
  width: 200px;
  border: 5px solid #fefefe;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-content {
  background: linear-gradient(180deg, #1b358b 0%, #1b358b 100%);
}

.msg-part-1 h1 {
  letter-spacing: 2px;
}



.msg-part-3 h1 {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
}

.flavour-section{
  height: auto;
}
/* App.css */
.sporty-text {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transform: skewX(-15deg);
  background: linear-gradient(45deg, #ff0077, #ffd500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; /* Fallback */
  font-size: 3rem;
}
